<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carrot/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{85,107},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 18 0 18 0 0 13 0</string>
                <key>verticesUV</key>
                <string>98 125 85 125 85 107 98 107</string>
            </dict>
            <key>carrot/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{101,86},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 18 0 18 0 0 13 0</string>
                <key>verticesUV</key>
                <string>114 104 101 104 101 86 114 86</string>
            </dict>
            <key>carrot/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{107,64},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 18 0 18 0 0 13 0</string>
                <key>verticesUV</key>
                <string>120 82 107 82 107 64 120 64</string>
            </dict>
            <key>carrot2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{85,87},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 13 9 18 0 18 0 0 14 0</string>
                <key>verticesUV</key>
                <string>99 100 94 105 85 105 85 87 99 87</string>
            </dict>
            <key>carrot2/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,19}</string>
                <key>spriteSourceSize</key>
                <string>{14,19}</string>
                <key>textureRect</key>
                <string>{{53,100},{14,19}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>14 11 9 19 0 19 0 0 14 0</string>
                <key>verticesUV</key>
                <string>67 111 62 119 53 119 53 100 67 100</string>
            </dict>
            <key>carrot3/carrot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{39,126},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 9 0 9 0 0 14 0</string>
                <key>verticesUV</key>
                <string>53 135 39 135 39 126 53 126</string>
            </dict>
            <key>carrot3/carrot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{100,107},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>14 4 14 14 0 14 0 0 10 0</string>
                <key>verticesUV</key>
                <string>114 111 114 121 100 121 100 107 110 107</string>
            </dict>
            <key>carrot3/carrot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{100,123},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 11 0 11 0 0 14 0</string>
                <key>verticesUV</key>
                <string>114 134 100 134 100 123 114 123</string>
            </dict>
            <key>carrot3/carrot5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{69,100},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 13 9 18 0 18 0 0 14 0</string>
                <key>verticesUV</key>
                <string>83 113 78 118 69 118 69 100 83 100</string>
            </dict>
            <key>carrot3/carrot7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{92,64},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 20 0 20 0 0 13 0</string>
                <key>verticesUV</key>
                <string>105 84 92 84 92 64 105 64</string>
            </dict>
            <key>monster1/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 26 0 26 0 0 32 0</string>
                <key>verticesUV</key>
                <string>33 27 1 27 1 1 33 1</string>
            </dict>
            <key>monster1/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2.5,0}</string>
                <key>spriteSize</key>
                <string>{27,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{30,30},{27,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>27 23 0 23 0 0 27 0</string>
                <key>verticesUV</key>
                <string>57 53 30 53 30 30 57 30</string>
            </dict>
            <key>monster2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,16}</string>
                <key>textureRect</key>
                <string>{{56,52},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 1 4 0 2 4 1 2 3 4</string>
                <key>vertices</key>
                <string>30 16 0 16 0 7 2 3 12 0 30 0</string>
                <key>verticesUV</key>
                <string>86 68 56 68 56 59 58 55 68 52 86 52</string>
            </dict>
            <key>monster2/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,16}</string>
                <key>spriteSourceSize</key>
                <string>{29,16}</string>
                <key>textureRect</key>
                <string>{{30,81},{29,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>29 16 0 16 0 0 29 0</string>
                <key>verticesUV</key>
                <string>59 97 30 97 30 81 59 81</string>
            </dict>
            <key>monster2/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,15}</string>
                <key>spriteSourceSize</key>
                <string>{29,15}</string>
                <key>textureRect</key>
                <string>{{61,70},{29,15}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>29 15 0 15 0 2 11 0 29 0</string>
                <key>verticesUV</key>
                <string>90 85 61 85 61 72 72 70 90 70</string>
            </dict>
            <key>monster3/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{65,1},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 0 1 2 3 0</string>
                <key>vertices</key>
                <string>28 23 0 23 0 13 13 0 28 0</string>
                <key>verticesUV</key>
                <string>93 24 65 24 65 14 78 1 93 1</string>
            </dict>
            <key>monster3/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{95,1},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>26 23 0 23 0 0 26 0</string>
                <key>verticesUV</key>
                <string>121 24 95 24 95 1 121 1</string>
            </dict>
            <key>obstacle/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{30,55},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>24 24 0 24 0 0 24 0</string>
                <key>verticesUV</key>
                <string>54 79 30 79 30 55 54 55</string>
            </dict>
            <key>obstacle/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,27}</string>
                <key>spriteSourceSize</key>
                <string>{22,27}</string>
                <key>textureRect</key>
                <string>{{1,88},{22,27}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 1 3 1 2 3 0 3 4</string>
                <key>vertices</key>
                <string>22 1 22 27 0 27 0 13 7 0</string>
                <key>verticesUV</key>
                <string>23 89 23 115 1 115 1 101 8 88</string>
            </dict>
            <key>obstacle/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,20}</string>
                <key>spriteSourceSize</key>
                <string>{27,20}</string>
                <key>textureRect</key>
                <string>{{88,26},{27,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>27 19 24 20 0 20 0 0 25 0</string>
                <key>verticesUV</key>
                <string>115 45 112 46 88 46 88 26 113 26</string>
            </dict>
            <key>obstacle/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,10}</string>
                <key>spriteSourceSize</key>
                <string>{26,10}</string>
                <key>textureRect</key>
                <string>{{25,99},{26,10}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>26 10 0 10 0 0 26 0</string>
                <key>verticesUV</key>
                <string>51 109 25 109 25 99 51 99</string>
            </dict>
            <key>obstacle/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,11}</string>
                <key>spriteSourceSize</key>
                <string>{24,11}</string>
                <key>textureRect</key>
                <string>{{61,87},{22,11}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>22 11 0 11 0 0 22 0</string>
                <key>verticesUV</key>
                <string>83 98 61 98 61 87 83 87</string>
            </dict>
            <key>obstacle/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{69,121},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 12 0 12 0 0 14 0</string>
                <key>verticesUV</key>
                <string>83 133 69 133 69 121 83 121</string>
            </dict>
            <key>obstacle/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,15}</string>
                <key>spriteSourceSize</key>
                <string>{11,15}</string>
                <key>textureRect</key>
                <string>{{17,117},{11,15}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>11 13 10 15 0 15 0 0 11 0</string>
                <key>verticesUV</key>
                <string>28 130 27 132 17 132 17 117 28 117</string>
            </dict>
            <key>obstacle/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,11}</string>
                <key>spriteSourceSize</key>
                <string>{12,11}</string>
                <key>textureRect</key>
                <string>{{55,121},{12,11}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>12 11 0 11 0 0 12 0</string>
                <key>verticesUV</key>
                <string>67 132 55 132 55 121 67 121</string>
            </dict>
            <key>obstacle/obstacle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.509091,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{35,1},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>28 27 0 27 0 0 28 0</string>
                <key>verticesUV</key>
                <string>63 28 35 28 35 1 63 1</string>
            </dict>
            <key>obstacle/obstacle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{1,59},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>27 11 27 27 0 27 0 0 26 0</string>
                <key>verticesUV</key>
                <string>28 70 28 86 1 86 1 59 27 59</string>
            </dict>
            <key>obstacle/obstacle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{1,29},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>27 6 27 28 0 28 0 0 21 0</string>
                <key>verticesUV</key>
                <string>28 35 28 57 1 57 1 29 22 29</string>
            </dict>
            <key>obstacle/obstacle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,20}</string>
                <key>spriteSourceSize</key>
                <string>{27,20}</string>
                <key>textureRect</key>
                <string>{{59,30},{27,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>27 20 0 20 0 0 27 0</string>
                <key>verticesUV</key>
                <string>86 50 59 50 59 30 86 30</string>
            </dict>
            <key>obstacle/obstacle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.428571,0.490909}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{88,48},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 14 0 14 0 1 8 0 25 0</string>
                <key>verticesUV</key>
                <string>113 62 88 62 88 49 96 48 113 48</string>
            </dict>
            <key>obstacle/obstacle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{18,13}</string>
                <key>textureRect</key>
                <string>{{35,111},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 13 0 13 0 0 16 0</string>
                <key>verticesUV</key>
                <string>51 124 35 124 35 111 51 111</string>
            </dict>
            <key>obstacle/obstacle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{1,117},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 3 1 2 3 4 1 0 1 4</string>
                <key>vertices</key>
                <string>14 9 11 12 0 12 0 3 3 0 14 0</string>
                <key>verticesUV</key>
                <string>15 126 12 129 1 129 1 120 4 117 15 117</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{122,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8be585e3a5ca73d21890dba51fcc9c4:70103e3b57aad6110d12df4bc4a8503b:70e3e61986ddcca6f02c0883f93c83fd$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
