<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carrot/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,71}</string>
                <key>spriteSourceSize</key>
                <string>{52,71}</string>
                <key>textureRect</key>
                <string>{{0,187},{52,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,73}</string>
                <key>spriteSourceSize</key>
                <string>{52,73}</string>
                <key>textureRect</key>
                <string>{{0,258},{52,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,73}</string>
                <key>spriteSourceSize</key>
                <string>{53,73}</string>
                <key>textureRect</key>
                <string>{{52,258},{53,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,71}</string>
                <key>spriteSourceSize</key>
                <string>{57,71}</string>
                <key>textureRect</key>
                <string>{{52,187},{57,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>carrot2/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,76}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{0,331},{57,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,102}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{0,500},{128,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster1/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,93}</string>
                <key>spriteSourceSize</key>
                <string>{127,93}</string>
                <key>textureRect</key>
                <string>{{0,407},{127,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,63}</string>
                <key>spriteSourceSize</key>
                <string>{121,63}</string>
                <key>textureRect</key>
                <string>{{0,61},{121,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,63}</string>
                <key>spriteSourceSize</key>
                <string>{116,63}</string>
                <key>textureRect</key>
                <string>{{0,124},{116,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>monster2/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,61}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{117,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{128,602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:501336b5e27ce30d15ad98fc22da7a73:119a9625e9788dbdc8f1865600d10b98:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
