<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carrot-1/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,0}</string>
                <key>spriteSize</key>
                <string>{56,71}</string>
                <key>spriteSourceSize</key>
                <string>{57,71}</string>
                <key>textureRect</key>
                <string>{{234,45},{56,71}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 1 4 5 0 1 5</string>
                <key>vertices</key>
                <string>49 1 57 27 28 71 11 71 1 51 5 0</string>
                <key>verticesUV</key>
                <string>282 46 290 72 261 116 244 116 234 96 238 45</string>
            </dict>
            <key>carrot-1/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-2}</string>
                <key>spriteSize</key>
                <string>{56,72}</string>
                <key>spriteSourceSize</key>
                <string>{57,76}</string>
                <key>textureRect</key>
                <string>{{222,118},{56,72}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 4 5 2 3 5 1 2 5 0 1 5 0 5 6</string>
                <key>vertices</key>
                <string>44 5 57 30 29 73 23 76 9 76 1 55 4 4</string>
                <key>verticesUV</key>
                <string>265 119 278 144 250 187 244 190 230 190 222 169 225 118</string>
            </dict>
            <key>carrot/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,71}</string>
                <key>spriteSourceSize</key>
                <string>{52,71}</string>
                <key>textureRect</key>
                <string>{{334,48},{52,71}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 5 6 4 5 0 3 1 2 3 4 0 3 0 1</string>
                <key>vertices</key>
                <string>52 41 22 71 1 71 0 9 7 5 18 0 52 0</string>
                <key>verticesUV</key>
                <string>386 89 356 119 335 119 334 57 341 53 352 48 386 48</string>
            </dict>
            <key>carrot/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,73}</string>
                <key>spriteSourceSize</key>
                <string>{52,73}</string>
                <key>textureRect</key>
                <string>{{292,1},{52,73}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 1 4 6 2 3 4 1 2 4 0 1 6</string>
                <key>vertices</key>
                <string>52 17 52 42 22 72 9 73 0 54 0 2 29 0</string>
                <key>verticesUV</key>
                <string>344 18 344 43 314 73 301 74 292 55 292 3 321 1</string>
            </dict>
            <key>carrot/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{52,73}</string>
                <key>spriteSourceSize</key>
                <string>{53,73}</string>
                <key>textureRect</key>
                <string>{{280,89},{52,73}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>4 5 6 1 4 6 2 3 4 1 2 4 0 1 6</string>
                <key>vertices</key>
                <string>52 17 52 42 22 72 9 73 0 54 0 2 29 0</string>
                <key>verticesUV</key>
                <string>332 106 332 131 302 161 289 162 280 143 280 91 309 89</string>
            </dict>
            <key>monster1/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{127,100}</string>
                <key>spriteSourceSize</key>
                <string>{128,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,100}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 0 1 2 4 5 2 3 4 2 5 0 0 5 6</string>
                <key>vertices</key>
                <string>128 70 122 84 72 102 1 80 3 43 73 2 104 2</string>
                <key>verticesUV</key>
                <string>128 69 122 83 72 101 1 79 3 42 73 1 104 1</string>
            </dict>
            <key>monster1/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10.5,-0.5}</string>
                <key>spriteSize</key>
                <string>{102,90}</string>
                <key>spriteSourceSize</key>
                <string>{127,93}</string>
                <key>textureRect</key>
                <string>{{1,103},{102,90}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 3 1 2 3 4 0 3 0 1</string>
                <key>vertices</key>
                <string>104 51 91 92 2 92 2 27 64 2 94 2</string>
                <key>verticesUV</key>
                <string>103 152 90 193 1 193 1 128 63 103 93 103</string>
            </dict>
            <key>monster2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-0.5,0}</string>
                <key>spriteSize</key>
                <string>{120,63}</string>
                <key>spriteSourceSize</key>
                <string>{121,63}</string>
                <key>textureRect</key>
                <string>{{121,1},{120,63}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>5 7 8 5 6 7 0 3 5 3 4 5 3 0 1 3 1 2 0 5 8</string>
                <key>vertices</key>
                <string>85 1 120 27 120 39 90 63 45 62 41 41 0 41 10 26 50 0</string>
                <key>verticesUV</key>
                <string>206 2 241 28 241 40 211 64 166 63 162 42 121 42 131 27 171 1</string>
            </dict>
            <key>monster2/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,63}</string>
                <key>spriteSourceSize</key>
                <string>{116,63}</string>
                <key>textureRect</key>
                <string>{{102,69},{116,63}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 6 7 4 5 6 3 4 6 3 0 1 3 1 2 0 3 7</string>
                <key>vertices</key>
                <string>82 1 116 35 116 50 82 63 0 63 0 42 11 25 52 0</string>
                <key>verticesUV</key>
                <string>184 70 218 104 218 119 184 132 102 132 102 111 113 94 154 69</string>
            </dict>
            <key>monster2/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-0.5}</string>
                <key>spriteSize</key>
                <string>{117,60}</string>
                <key>spriteSourceSize</key>
                <string>{117,61}</string>
                <key>textureRect</key>
                <string>{{103,134},{117,60}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 7 8 6 4 5 6 7 4 3 4 7 2 3 8 1 2 8 0 1 8</string>
                <key>vertices</key>
                <string>117 19 117 37 89 61 46 61 23 39 0 38 0 27 52 1 80 1</string>
                <key>verticesUV</key>
                <string>220 152 220 170 192 194 149 194 126 172 103 171 103 160 155 134 183 134</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{387,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17d6527d4e0d6e2341f85d2829369e9e:ab29de2b7392807615471ed6484041f3:70e3e61986ddcca6f02c0883f93c83fd$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
