<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>carrot/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{1,113},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 18 0 18 0 0 13 0</string>
                <key>verticesUV</key>
                <string>14 131 1 131 1 113 14 113</string>
            </dict>
            <key>carrot/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{75,100},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 18 0 18 0 0 13 0</string>
                <key>verticesUV</key>
                <string>88 118 75 118 75 100 88 100</string>
            </dict>
            <key>carrot/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{13,18}</string>
                <key>textureRect</key>
                <string>{{60,100},{13,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 18 0 18 0 0 13 0</string>
                <key>verticesUV</key>
                <string>73 118 60 118 60 100 73 100</string>
            </dict>
            <key>carrot2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{77,80},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 13 9 18 0 18 0 0 14 0</string>
                <key>verticesUV</key>
                <string>91 93 86 98 77 98 77 80 91 80</string>
            </dict>
            <key>carrot2/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,19}</string>
                <key>spriteSourceSize</key>
                <string>{14,19}</string>
                <key>textureRect</key>
                <string>{{44,94},{14,19}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 3 0 2 0 1</string>
                <key>vertices</key>
                <string>14 11 9 19 0 19 0 0 14 0</string>
                <key>verticesUV</key>
                <string>58 105 53 113 44 113 44 94 58 94</string>
            </dict>
            <key>carrot3/carrot1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0.5}</string>
                <key>spriteSize</key>
                <string>{14,9}</string>
                <key>spriteSourceSize</key>
                <string>{14,10}</string>
                <key>textureRect</key>
                <string>{{82,120},{14,9}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 9 0 9 0 0 14 0</string>
                <key>verticesUV</key>
                <string>96 129 82 129 82 120 96 120</string>
            </dict>
            <key>carrot3/carrot2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,14}</string>
                <key>spriteSourceSize</key>
                <string>{14,14}</string>
                <key>textureRect</key>
                <string>{{34,116},{14,14}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>14 4 14 14 0 14 0 0 10 0</string>
                <key>verticesUV</key>
                <string>48 120 48 130 34 130 34 116 44 116</string>
            </dict>
            <key>carrot3/carrot4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,11}</string>
                <key>spriteSourceSize</key>
                <string>{14,11}</string>
                <key>textureRect</key>
                <string>{{66,120},{14,11}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 11 0 11 0 0 14 0</string>
                <key>verticesUV</key>
                <string>80 131 66 131 66 120 80 120</string>
            </dict>
            <key>carrot3/carrot5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,18}</string>
                <key>spriteSourceSize</key>
                <string>{14,18}</string>
                <key>textureRect</key>
                <string>{{61,80},{14,18}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>14 13 9 18 0 18 0 0 14 0</string>
                <key>verticesUV</key>
                <string>75 93 70 98 61 98 61 80 75 80</string>
            </dict>
            <key>carrot3/carrot7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,20}</string>
                <key>spriteSourceSize</key>
                <string>{13,20}</string>
                <key>textureRect</key>
                <string>{{29,94},{13,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>13 20 0 20 0 0 13 0</string>
                <key>verticesUV</key>
                <string>42 114 29 114 29 94 42 94</string>
            </dict>
            <key>monster1/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,26}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>32 26 0 26 0 0 32 0</string>
                <key>verticesUV</key>
                <string>33 27 1 27 1 1 33 1</string>
            </dict>
            <key>monster1/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-2.5,0}</string>
                <key>spriteSize</key>
                <string>{27,23}</string>
                <key>spriteSourceSize</key>
                <string>{32,23}</string>
                <key>textureRect</key>
                <string>{{30,30},{27,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>27 23 0 23 0 0 27 0</string>
                <key>verticesUV</key>
                <string>57 53 30 53 30 30 57 30</string>
            </dict>
            <key>monster2/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{30,16}</string>
                <key>textureRect</key>
                <string>{{59,28},{30,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 1 4 0 2 4 1 2 3 4</string>
                <key>vertices</key>
                <string>30 16 0 16 0 7 2 3 12 0 30 0</string>
                <key>verticesUV</key>
                <string>89 44 59 44 59 35 61 31 71 28 89 28</string>
            </dict>
            <key>monster2/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,16}</string>
                <key>spriteSourceSize</key>
                <string>{29,16}</string>
                <key>textureRect</key>
                <string>{{59,46},{29,16}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>29 16 0 16 0 0 29 0</string>
                <key>verticesUV</key>
                <string>88 62 59 62 59 46 88 46</string>
            </dict>
            <key>monster2/0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,15}</string>
                <key>spriteSourceSize</key>
                <string>{29,15}</string>
                <key>textureRect</key>
                <string>{{30,77},{29,15}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>29 15 0 15 0 2 11 0 29 0</string>
                <key>verticesUV</key>
                <string>59 92 30 92 30 79 41 77 59 77</string>
            </dict>
            <key>monster3/0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{65,1},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 2 0 1 2 3 0</string>
                <key>vertices</key>
                <string>28 23 0 23 0 13 13 0 28 0</string>
                <key>verticesUV</key>
                <string>93 24 65 24 65 14 78 1 93 1</string>
            </dict>
            <key>monster3/0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,23}</string>
                <key>spriteSourceSize</key>
                <string>{26,23}</string>
                <key>textureRect</key>
                <string>{{1,88},{26,23}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>26 23 0 23 0 0 26 0</string>
                <key>verticesUV</key>
                <string>27 111 1 111 1 88 27 88</string>
            </dict>
            <key>obstacle/obstacle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,27}</string>
                <key>spriteSourceSize</key>
                <string>{28,27}</string>
                <key>textureRect</key>
                <string>{{35,1},{28,27}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>28 27 0 27 0 0 28 0</string>
                <key>verticesUV</key>
                <string>63 28 35 28 35 1 63 1</string>
            </dict>
            <key>obstacle/obstacle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{1,59},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 0 1 2 0 2 3</string>
                <key>vertices</key>
                <string>27 11 27 27 0 27 0 0 26 0</string>
                <key>verticesUV</key>
                <string>28 70 28 86 1 86 1 59 27 59</string>
            </dict>
            <key>obstacle/obstacle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{1,29},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 0 1 2 0 2 4</string>
                <key>vertices</key>
                <string>27 6 27 28 0 28 0 0 21 0</string>
                <key>verticesUV</key>
                <string>28 35 28 57 1 57 1 29 22 29</string>
            </dict>
            <key>obstacle/obstacle4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,20}</string>
                <key>spriteSourceSize</key>
                <string>{27,20}</string>
                <key>textureRect</key>
                <string>{{30,55},{27,20}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>27 20 0 20 0 0 27 0</string>
                <key>verticesUV</key>
                <string>57 75 30 75 30 55 57 55</string>
            </dict>
            <key>obstacle/obstacle5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,14}</string>
                <key>spriteSourceSize</key>
                <string>{25,14}</string>
                <key>textureRect</key>
                <string>{{61,64},{25,14}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>25 14 0 14 0 1 8 0 25 0</string>
                <key>verticesUV</key>
                <string>86 78 61 78 61 65 69 64 86 64</string>
            </dict>
            <key>obstacle/obstacle6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{16,13}</string>
                <key>spriteSourceSize</key>
                <string>{18,13}</string>
                <key>textureRect</key>
                <string>{{16,116},{16,13}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>16 13 0 13 0 0 16 0</string>
                <key>verticesUV</key>
                <string>32 129 16 129 16 116 32 116</string>
            </dict>
            <key>obstacle/obstacle7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,12}</string>
                <key>spriteSourceSize</key>
                <string>{14,12}</string>
                <key>textureRect</key>
                <string>{{50,120},{14,12}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 3 1 2 3 4 1 0 1 4</string>
                <key>vertices</key>
                <string>14 9 11 12 0 12 0 3 3 0 14 0</string>
                <key>verticesUV</key>
                <string>64 129 61 132 50 132 50 123 53 120 64 120</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{97,133}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44bf9f85f59ba80203358be6c9f08097:e25d8f9680f04c601d5b080055382a39:70e3e61986ddcca6f02c0883f93c83fd$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
